.serviceCards {
   display: flex;
   flex-wrap: wrap;
   gap: 0.5rem;
   justify-content: center;
}
.serviceCard {
   border: 1px solid black;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   padding: 0.5rem;
   align-items: center;
}

.cardTitle {
   text-align: center;
}

@media screen and (min-width: 768px)  {
   .serviceCard {
      width: 45%;
   }
}
@media screen and (min-width: 1024px)  {
   .serviceCard {
      width: 30%;
   }
}