.aboutUs {
   display: flex;
   flex-wrap: wrap;
   width: 90%;
}

.cadaUno {
   flex: 1;
   gap: 1rem;
}

.red {
   display: flex;
   justify-content: space-around;
}

.icon{
   height: 5rem;
   color: #D0EAA3;
}