.acercaDe h2 {
   text-align: center;
   margin: 0;
}
.acercaDe p {
   margin: 0;
   text-align: justify;
   background-color: aquamarine;
}

.visiones {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.visiones div {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 80%;
}

.mision {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.mision div {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 80%;
}

.objetivos {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.objetivos div {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 80%;
}
