.contenedor{
height: 80%;
align-items: center;
}

.titulo {
display: none;
}

.logoLandingPage {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  animation: fadeIn 3s ease;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    filter:blur(20px)
  }
  10% {
    opacity: 1;
    filter: brightness(2) blur(10px);
  }
}

@media screen and (min-width: 768px)  {
  .logoLandingPage {
    width: 60%;
  }
}