.contNav {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.navBar {
   display: flex;
   justify-content: space-between;
   padding: 0.5rem;
   align-items: center;
   width: 90%;
}

.menus {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   width: 80%;
   height: 6.5rem;
   text-align: center;
}
.menus :hover {
   font-weight: bold;
}

.boton {
   text-decoration: none;
   width: 70%;
   font-size: smaller;
}
.boton.activo {
   color:saddlebrown;
   font-size: large;
   font-weight: bold;
}

@media screen and (min-width: 768px)  {
   .navBar {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
   }
   .menus {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 65%;
   }
   .boton {
      font-size: medium;
      width: 20%;
   }
   .boton.activo {
      font-size: large;
   }
}