.contNav {
   background: #FAD8CE;
   display: flex;
   justify-content: center;
   align-items: center;
}

.navBar {
   display: flex;
   justify-content: space-between;
   padding: 0.5rem;
   align-items: center;
   width: 90%;
}
.menus {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 0.2rem;
   width: 80%;
}
.boton {
   background-color: #D0EAA3;
   border: 2px solid black;
   padding: 0.2rem;
   border-radius: 0.5rem;
   text-decoration: none;
   width: 44%;
   font-size: small;
}
.contLogo {
   background-color: rgba(255, 255, 255, 0.601);
   border: 1px solid black;
   border-radius: 100%;
}
.logoInicio {
   padding: 5px;
}

@media screen and (min-width: 768px)  {
   .navBar {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
   }
   .menus {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 50%;
   }
   .boton {
      width: 20%;
   }
}