.contServ {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.contenido {
   width: 85%;
}
.titleH2 {
   font-family: "Playfire";
   font-weight: 900;
   text-align: center;
   margin: 0;
}
.textoNormal {
   font-family: "generalFont", sans-serif;
   margin: 0;
   text-align: justify;
}

@media screen and (min-width: 768px)  {
   .contenido {
      width: 60%;
   }
}