.footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   margin-top: 0.5rem;
   background-color: black;
   padding: 1vh;
   font-size: 1.5vw;
}
.footer img {
   width: 8vw;
}
.footer h3 {
   margin: 0;
}
footer p {
   margin: 0;
}
.redes {
   display: flex;
   align-items: center;
}
.redes img {
   width: 3vw;
   background-color: dimgray;
   border-radius: 0.5vw;
   margin-left: 0.5vw;
   padding: 0.5vw;
}

@media screen and (max-width: 424px) {
   .footer {
      font-size: 2.5vw;
   }
   .footer img {
      width: 15vw;
   }
    .redes img {
      width: 6vw;
   }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
   .footer {
      font-size: 2.5vw;
   }
   .footer img {
      width: 17vw;
   }
   .redes img {
      width: 6vw;
   }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
   .redes img {
      width: 4vw;
   }
}

@media screen and (min-width: 1440px) {
   .redes img{
      width: 4vw;
   }
}